.sunset-home {
    width: 100%;
    height: 80vh;
}

/* Pufi Rain */
.container-rain-pufi {
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-rain-img {
    background-image: url(/src/components/img/rain.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    aspect-ratio: 2;
    width: 100%;
}

.rain-pufi {
    width: 60px;
    height: 60px;
}


.rain-total {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.line-rain {
    width: 30px;
}

.paragraph-rain {
    color: black;
    font-size: 13px;
    text-align: justify;
}

.paragraph-rain-more {
    font-family: monospace;
}

/* Button with hover*/
.paragraph-shop {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    justify-items: center;
    text-align: center;
    width: 108px;
    height: 50px;
    border: solid 2px white;
    padding-top: 15px;
    color: white;
}

.paragraph-shop:hover {
    background-color: white;
    color: black;
    border: solid 2px transparent;
}

/* Pufi Puff */
.container-puff-pufi {
    display: flex;
}

.container-puff-img {
    background-image: url(/src/components/img/water-gd073d0492_640.jpg);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    aspect-ratio: 2;
    width: 100%;
}

/* Pufi Cart */
.container-cart-img {
    background-image: url(/src/components/img/christmas-market-gcf03a4eda_640.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    aspect-ratio: 2;
    width: 100%;
}

/* Pufi Nap */
.container-nap-img {
    background-image: url(/src/components/img/sleepingg.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    aspect-ratio: 2;
    width: 100%;
}

/* Newsletter */
.news{
    padding-top: 3rem;
    background-color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.form-newsletter{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.collagepufi {
    width: 50%;
    height: 50%;
    padding: 2rem;
}

.title-newsletter{
    color: grey;
    font-size: small;
}

.subsc, .text-news {
    font-weight: lighter;
}